body {
  font-family: sans-serif;
  margin: 0;
  scrollbar-width: none;
}

.nav_bar {
  position: sticky;
  width: 90%;
  height: 3rem;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-top: 0.4rem;
  margin-right: 5%;
  margin-left: 5%;
  h1 {
    margin: 0;
    margin-top: 0.4rem;
  }
}

.poke__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .poke {
    display: block;
    width: 90%;
    height: 4rem;
    background-color: rgb(225, 225, 125);
    margin-top: 1rem;
    text-align: center;
    border: 1px solid #333;
    border-radius: 20px;
    cursor: pointer;
  }
}

.loading__container {
  text-align: center;
  color: darkgray;
}

.not__available__container {
  text-align: center;
  color: red;
}

.error__container {
  text-align: center;
  color: red;
}
