.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.nav-left h1 {
  margin: 0;
}

.nav-right {
  position: relative;
}

.notification-icon {
  cursor: pointer;
  position: relative;
}

.bell-icon {
  font-size: 24px;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.notification-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.notification-dropdown ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.notification-dropdown li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.notification-dropdown li:last-child {
  border-bottom: none;
}

.seen {
}
.unseen-item {
  color: rgb(101, 110, 97);
}

.notification-list-item {
  cursor: pointer;
}
