@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  width: 100px;
  height: 100px;
}

.navBar {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  border: black 1px solid;
}

.right > ul {
  display: flex;
  flex: wrap;
  list-style: none;
  gap: 80px;
  padding: 2px;
}

.cardContainer {
  border: 1px solid black;
  margin: 8px;
  background-color: #f0f0f0;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  width: 250px;
  height: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}

p {
  color: red;
}

input {
  margin: 5px;
}

.starComponent {
  display: flex;
  align-items: center;
}

.star {
  font-size: 80px;
  width: 80px;
  cursor: pointer;
}

.ratingSubmitBtn {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.accordian {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

.content__box {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 2px;
}

.content__image {
  height: 200px;
  width: 300px;
}

.pagination__card {
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination__item {
  margin: 10px;
  border: 3px solid black;
  padding: 5px;
  cursor: pointer;
}

.current__page {
  background-color: grey;
}

.grid__outer__box {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin: 5px;
}

.grid__row {
  display: flex;
}

.grid__box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.background__green {
  background-color: green;
}

.background__grey {
  background-color: grey;
}
